.container {
  padding-top: 80px;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background: #1e1e1e;
  color: #ffffff;
  max-width: 1600px;
}
body {
  background: #161616;
}

.menu-sider__container {
  top: 80px;
  z-index: 100;
}
