.search-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input {
  height: 40px;
  background: rgba(0,0,0,.2);
  border: none;
  color: rgba(255, 255, 255, 0.71);
  font-size: 18px;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px #ffffff solid;
}

.search-bar input:focus::placeholder {
  color: rgba(255, 255, 255, 0.41);
  transform: scale(1.0);
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 500;
  font-size: 18px;
}

.search-bar button {
  position: relative;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.search-bar button:hover svg {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

.search-bar button svg {
  color: rgba(255, 255, 255, 0.71);
  font-size: 25px;
  transition: 200ms;
}

