.trailer-slider {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: rgb(20,20,20);
  position: relative;
}
.trailer-slider::-webkit-scrollbar {
  display: none;
}

.trailer-slider__container {
  position: relative;
}
.arrow {
  position: absolute;
  top: 30%;
  font-size: 30px;
  height: 100px;
  background: rgba(50,50,50,0.4);
  color: #fff;
  border: none;
  z-index: 10;
  cursor: pointer;
}
.arrow:hover {
  background: rgba(50,50,50,0.8);

}
.arrow:active {
  transform: scale(0.95)
}

.arrow-left {
  left: 0
}
.arrow-right {
  right: 0;
}